@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Estilo general del contenedor del formulario */
.formContainer {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* .formContainer div {
    background-color: rgba(231, 183, 110, 0.1);
} */

/* Estilo de título del form -> tiene que ser h1 */
.formContainer div h1 {
    font-weight: 300;
    font-size: 20px;
}

/* Estilo del formulario */
.formContainer form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formContainer label {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 15px;
}

/* Estilo de los inputs */
.formContainer input {
    border: none;
    border-bottom: 2px solid rgba(231, 183, 110, 0.8);
    background-color: rgba(231, 183, 110, 0.1);
    height: 30px;
    width: 400px;
    outline: none;
    margin-top: 10px;
    padding-top: 5px;
}

.formContainer input:focus {
    border: 2px solid rgba(231, 183, 110, 0.8);
}

/* Estilo de los botones */
.formContainer button {
    background-color: rgba(231, 183, 110, 0.5);
    padding: 10px 20px;
    border: 1px solid rgba(231, 183, 110, 0.7);
    border-radius: 5px;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.formContainer button:hover {
    background-color: rgba(231, 183, 110, 0.9)
}

/* Estilo para los mensajes de error */
.error {
    margin-top: 5px;
    color: #9e1303;
    font-size: 0.7rem;
    margin-bottom: 4px;
}

.noError{
    margin-top: 5px;
    color: #FFFFFF;
    font-size: 0.7rem;
    margin-bottom: 4px;
}

/* Estilo del contenedor de los iconos de los ojos */
.formContainer .passwordInput {
    position: relative; /* Asegurar que el contenedor sea relativo */
}

/* Estilo de los iconos de los ojos */
.formContainer .passwordInput .icon {
    margin-left: 5px; /* Margen izquierdo de 5px */
    background-color: transparent !important; /* Fondo transparente */
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Alineación vertical al centro */
    right: 10px; /* Alineación a la derecha */
    transform: translateY(-50%); /* Ajuste para centrar verticalmente */
    display: flex; /* Añadido para centrar verticalmente */
    align-items: center; /* Añadido para centrar verticalmente */
    padding-top: 10px;
}
