/* OrderDetail.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.h1 {
  color: #ee4a44;
  font-size: 30px;
  text-align: center;
}

.approved {
  color: #43f85e;
  font-size: 30px;
  text-align: center;
}

.button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  background-color: #003d80;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
