.Profile {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    /* 100% del alto de la ventana */
}

.profileContainer {
    background-color: #001625;
    border: #fccf83 2px solid;
    width: 300px;
    height: 500px;
    border-radius: 15px;
}

.profileButton {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-color: #001625;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
}