@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.bg {
  background: red;
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container {
  background: rgb(0, 255, 76);
  background: rgb(0, 255, 76);
  display: flex;
  flex-direction: row;
  width: 100%;
}

.buttonClose {
  border: 2px solid #380036;
  color: #380036;
  border-radius: 5px;
  height: 30px;
  font-weight: 400;
  font-style: italic;
  margin-right: 10px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: lighter;
}

.buttonClose:hover {
  background-color: #380036;
  color: white;
  transition: ease 0.1s;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: lighter;
}

.aside {
  background: #4e094b;
  display: flex;
  width: 250px;
  flex-direction: column;
  position: relative;
}

.views {
  background: rgb(17, 0, 255);
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.navbar {
  background: #380036;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dashboard {
  background: rgb(255, 255, 255);
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  bottom: 0;
  background: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 60px;
  border-top: 1px solid rgb(214, 214, 214);
}

.logotype {
  display: flex;
  background-color: #380036;
  height: 60px;
  color: white;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
}

.buttones {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.config {
  background-color: #6d196a;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 120px;
}

.h1 {
  margin: 0;
  font-weight: 400;
}

.button {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #4e094b00;
  border: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 1;
  cursor: pointer;
}

.button:hover {
  background-color: #380036;
  transition: ease 0.1s;
}

.logo {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnCfg {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 60px;
  border: none;
  color: white;
  background-color: #6d196a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1;
}

.asideLogo {
  display: flex;
  position: absolute;
  z-index: 0;
  right: -68px;
  top: 76px;
  opacity: 0.04;
  height: 500px;
}

.imgCharlie {
  display: flex;
  opacity: 0.12;
  z-index: 0;
  width: 400px;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin: 10px 0 0 0;
}

.containerTitle h2 {
  margin: 0 !important;
}

.containerTitle img {
  width: auto;
  height: 60px;
}

.p {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin: 15px;
}

.li {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  margin-top: 30px;
  font-style: normal;
}

.h3 {
  font-style: normal;
  color: #380036;
}

.Detail {
  z-index: 1;
  height: 311px;
  width: 900px;
  font-family: "Roboto", sans-serif;
  margin: 15px;
}
.ul {
  margin: 20px;
}
/*  //! ///////////////////////// DATAGRID STYLES ///////////////////////////////////////  */
.DataGrid {
  z-index: 1;
  height: 311px;
  width: 900px;
}
.acciones {
  border: 2px solid #380036;
  color: #380036;
  border-radius: 5px;
  height: 30px;
  font-weight: 400;
  font-style: italic;
  margin-right: 10px;
  cursor: pointer;
}

.acciones:hover {
  background-color: #380036;
  color: white;
  transition: ease 0.1s;
}
.accionStatus {
  border: 2px solid #380036;
  color: #380036;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  font-weight: 400;
  font-style: italic;
  margin-right: 10px;
  cursor: pointer;
}

.accionStatus:hover {
  background-color: #380036;
  color: white;
  transition: ease 0.1s;
}

.accionDelete {
  border: 2px solid #c30000;
  color: #c30000;
  border-radius: 5px;
  height: 30px;
  font-weight: 400;
  font-style: italic;
  margin-right: 10px;
  cursor: pointer;
}

.accionDelete:hover {
  background-color: #c30000;
  color: white;
  transition: ease 0.1s;
}
.btnCreate {
  color: white;
  border: none;
  background: #380036;
  width: 700px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  z-index: 1;
  cursor: pointer;
}

.btnCreate:hover {
  background-color: #6d196a;
  transition: ease 0.1s;
}

.linkContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  position: relative;
}

.logoBoliche {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
  position: absolute;
  left: 0;
  top: 0px;
}

/*  //! ///////////////////////// FORMULARIOS STYLES ///////////////////////////////////////  */

.changePassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 400px;
  height: auto;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  padding: 10px;
}

.FormPostAdminSA {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.dashboard {
  display: flex;
  gap: 5px;
}
.dashboard h2 {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0 5px 0;
}

.FormPostAdminSA label {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 0px 0;
  font-style: normal;
  display: flex;
  align-items: start;
}

.FormPostAdminSA input {
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  margin: 0 0 10px 0;
  padding: 0 10px;
  outline: none;
}

.FormPostAdminSA input:focus {
  border: 1px solid #380036;
}

.btnForms {
  width: 370px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  background: #380036;
  color: white;
  cursor: pointer;
}

.btnForms:hover {
  background-color: #6d196a;
  transition: ease 0.1s;
}

.FormPostAdminSA span {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #c30000;
  display: block;
}

.FormPostAdminSA select {
  width: 370px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
}

/*  //! ///////////////////////// MP STYLES ///////////////////////////////////////  */

.buttonConfig {
  width: 100%;
  height: 60px;
  border: none;
  color: white;
  background-color: #009ee3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;
}

.buttonConfig:hover {
  background-color: #0180b6;
  transition: ease 0.1s;
}

.buttonConfigDelete {
  width: 100%;
  height: 60px;
  border: none;
  color: white;
  background-color: #e77d86;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 1;
  cursor: pointer;
  border-radius: 4px;
}

.buttonConfigDelete:hover {
  background-color: #f70103;
  transition: ease 0.1s;
}

.containerMP h2 {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  margin: 10px 0 5px 0;
  text-align: center;
}

/*  //! ///////////////////////// LOGIN SUPER A STYLES ///////////////////////////////////////  */

.containerSAA {
  background: red;
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.container1SA {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #380036;
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  padding: 0 20px;
}

.container1SA img {
  width: 400px;
  height: auto;
}

.container2SA {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.container2SALogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 20px;
}

.container2SALogin h2 {
  color: #000000;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  margin: 0;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 400px;
  height: auto;
}
.formLogin label {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 0px 0;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: start;
  margin-bottom: 5px;
}
.formLogin input {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  margin: 0 0 10px 0;
  padding: 0 10px;
  outline: none;
}

.formLogin input:focus {
  border: 1px solid #380036;
}

.btnLogin {
  width: 370px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  background: #380036;
  color: white;
  cursor: pointer;
}

.btnLogin:hover {
  background-color: #6d196a;
  transition: ease 0.1s;
}

.togglePasswordVisibility {
  cursor: pointer;
  color: #1e1e1e;
  margin-left: 5px;
  font-size: 12px;
}
.error {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #c30000;
  display: block;
  margin-bottom: 5px;
}

.charlie {
  font-style: italic;
  background: linear-gradient(
    320deg,
    rgba(56, 0, 54, 1) 0%,
    rgba(109, 25, 106, 1) 51%,
    rgba(173, 54, 169, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text; /* Para compatibilidad con navegadores basados en Webkit */
  color: transparent;
}

@media (max-width: 768px) {
  .containerSAA {
    flex-direction: column-reverse;
  }

  .container1SA {
    width: 100%;
    height: 40%;
    padding: 0;
  }
  .container1SA img {
    width: 300px;
  }
  .container2SA {
    width: 100%;
    height: 60%;
  }
}

/*  //! ///////////////////////// COLABORADOR STYLES ///////////////////////////////////////  */

.navColaborador {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #380036;
  color: white;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;

  font-family: "Roboto", sans-serif;
}

.colaboradorTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 60px;
  background-color: #380036;

  padding: 0 20px;
}

.colaboradorTitle h2 {
  margin: 0;
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;

  -webkit-box-shadow: 0px 2px 3px 0px rgba(181, 181, 181, 1);
  -moz-box-shadow: 0px 2px 3px 0px rgba(181, 181, 181, 1);
  box-shadow: 0px 2px 3px 0px rgba(181, 181, 181, 1);
}

.nav ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  gap: 20px;
  width: 100%;
  font-size: 12px;
  padding: 0;
  justify-content: space-evenly;
  margin: 0;
  position: relative;
  height: 40px;
  gap: 120px;
}

.nav li {
  display: flex;
  align-items: center;
}

.a {
  text-decoration: none;
  color: #000000;
  font-style: normal;
}

.qrButton {
  background-color: #6d196a;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 40px;
  border: 3px solid #a74aa4;
  position: absolute;
  margin: 5px 0 0 0;
}

.qrImg {
  width: 30px;
  display: flex;
  justify-content: center;
}

.btnC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  flex-direction: column;
  cursor: pointer;
  color: rgb(48, 48, 48);
  border: none;
}

.btnC p {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

/*  //? ///////////////////////// LOGIN COLABORADOR STYLES ///////////////////////////////////////  */
.containerColab {
  width: 100%;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
}

.containerColab h2 {
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  margin: 30px 0 5px 0;
  text-align: center;
}

.containerColab form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 300px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;

  background: #ffffff;
}

.containerColab label {
  font-size: 14px;
  font-weight: 700;
  margin: 5px 0 0px 0;
  font-style: normal;
  display: flex;
  align-items: start;
  width: 100%;
}

.containerColab input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(214, 214, 214);
  margin: 0 0 10px 0;
  padding: 0 10px;
  outline: none;
  box-sizing: border-box;
}

.containerColab button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
  padding: 0 10px;
  outline: none;
  background: #380036;
  color: white;
  cursor: pointer;
}

.containerColab button:hover {
  background-color: #6d196a;
  transition: ease 0.1s;
}
.error {
  height: 12px;
  font-size: 12px;
  font-weight: 400;
  color: #c30000;
  display: block;
  margin-bottom: 5px;
}
