/* @media only screen and (max-width: 767px) { */
.loginUser {
    height: 100vh;
    width: 100vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.containerLogos {
    margin-top: 70px;
    margin-bottom: 15px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;

}

.circleLogo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fccf83;
    display: flex;
    justify-content: center;
    align-items: center;
}

.byLetras {
    margin: 10px;
    margin-top: 8px;
    margin-left: 80px;
    align-self: flex-start;

}

.logoLetras {
    margin-bottom: 50px;
    width: 120px;
    height: 50px;
    align-self: center;
}

.loginButton {
    margin-top: 50px;
    width: 290px;
    height: 70px;
    padding: 10px;
    border-radius: 25px;
    /* background-color: #444545; */
    background-color: #fccf83;
    /* background-color: #45ede7; */
    color: black;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
}


.logoRedirect {
    margin-top: 70px;
    width: 80px;
    height: 70px;
    align-self: center;
}

.logoLetrasRedirect {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 110px;
    height: 50px;
    align-self: center;
}

.loginUser p {
    text-align: center;
}